<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @myarticle.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @myarticle.article_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @myarticle.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @myarticle.date %>
</p>

<%= link_to 'Edit', edit_myarticle_path(@myarticle) %> |
<%= link_to 'Back', myarticles_path %>
